:root {
  --main-white: #ffffff;
  --seconday-gray: #c0c0c0;
  --blue-button: #167bf7;
  --background-color: #00030c;
  --font-principal: "Inter";
  --btn-blue-effect: #5798e8;
}

body {
  background-color: var(--background-color);
  color: var(--main-white);
  font-family: var(--font-principal);
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__btn {
  background-color: var(--blue-button);
  border-radius: 5px;
  padding: 1em;
  color: var(--main-white);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.container__btn:hover {
  background-color: var(--btn-blue-effect);
  color: black;
}

.btn_secondary {
  background-color: transparent;
  border: 2px solid var(--main-white);
}

.container__advertise {
  font-size: 12px;
  color: var(--seconday-gray);
}

.container__title {
  font-size: 28px;
  font-weight: 700;
}

.container__img {
  margin: 1em 0 2em 0;
}

.container__box {
  margin: 0 6em;
}

.secondary__img {
  width: 80%;
}

.secondary {
  align-items: center;
  margin: 0 10em;
}

.description__title {
  font-weight: 700;
  font-size: 40px;
  color: var(--main-white);
  margin-bottom: 0.1em;
}

.description__text {
  color: var(--seconday-gray);
}

.secondary__btn {
  display: inline-block;
  margin-top: 1em;
}

.container__description {
  padding: 2em;
}

.devices {
  text-align: center;
}

.devices__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.devices__title {
  font-size: 48px;
  color: var(--main-white);
}

.list__item {
  font-size: 32px;
  color: var(--main-white);
}

.footer {
  text-align: center;
}

.footer__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 1.5em 0;
}

.list__link a {
  margin: 0 1em;
  color: var(--seconday-gray);
  text-decoration: none;
  font-size: 16px;
}

.list__link a:hover {
  text-decoration: underline;
  color: var(--blue-button);
}

.list__link a:active {
  color: purple;
}

.footer__text {
  color: var(--seconday-gray);
  font-size: 12px;
  margin: 1.5em 10em;
  justify-content: center;
}
